.trivia-next-button-container {
  width: 200px;
}

.trivia-next-button {
  width: 100%;
  padding: 10px 15px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #535bf2;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.next-buttonn:hover {
  background-color: #444bc5;
}
