.category-card-grid {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
  justify-content: center;
  align-items: center;
  max-width: 700px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .category-card-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}

@media (max-width: 480px) {
  .category-card-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
